<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 2 meta tags *must* come first in the <head> to consistently ensure proper document rendering. -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Page Title</title>
    <link rel="stylesheet" href="/dist/styles/main.css" />
</head>